{% extends protons-base.py %}
{% block vvvr_def %}
class VVVRIntegrator(ExternalPerturbationLangevinIntegrator):
    """OVRVO  OBABO Integrator, more commonly known as VVVR."""
    def __init__(self, temperature=298.0 * unit.kelvin,
                 collision_rate=1.0 / unit.picoseconds,
                 timestep=1.0 * unit.femtoseconds,
                 constraint_tolerance=1e-7
                 ):

        super(VVVRIntegrator, self).__init__(splitting="O V R V O",
                                             temperature=temperature,
                                             collision_rate=collision_rate,
                                             timestep=timestep,
                                             constraint_tolerance=constraint_tolerance,
                                             measure_shadow_work=False,
                                             measure_heat=False,
                                             )

{% endblock %}
{% block vvvr_init %}
integrator = VVVRIntegrator(temperature=temperature, collision_rate=collision_rate, timestep=timestep, constraint_tolerance=constraint_tolerance)
ncmc_propagation_integrator = VVVRIntegrator(temperature=temperature, collision_rate=collision_rate, timestep=timestep, constraint_tolerance=constraint_tolerance)

# Define a compound integrator
compound_integrator = mm.CompoundIntegrator()
compound_integrator.addIntegrator(integrator)
compound_integrator.addIntegrator(ncmc_propagation_integrator)
compound_integrator.setCurrentIntegrator(0)
{% endblock %}
